{% extends "quotes/base.html" %}

{% block title %}Author Details{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-secondary display-4 sticky-top mb-2" style="background: white;">{{ author.name }}<a href="{% url 'quote_list' %}" class="btn btn-success ml-5">back</a></h1>
    <hr>
    <p><strong><span class="author-details text-secondary">Born</span></strong> {{ author.born }}</p>
    <p><strong><span class="author-details text-secondary">Birth Place</span></strong> {{ author.birth_place }}</p>
    <p><strong><span class="author-details text-secondary">About</span></strong> {{ author.about }}</p>
    {% if author.about_page_url %}
        <p><strong>About Page:</strong> <a href="{{ author.about_page_url }}" target="_blank">{{ author.about_page_url }}</a></p>
    {% endif %}
    <h2>Quotes</h2>
    {% for quote in author.quotes.all %}
        <div class="card my-3">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ quote.text }}</p>
                </blockquote>
                <div class="mt-2">
                    <strong>Tags:</strong>
                    {% for quote_tag in quote.quote_tags.all %}
                    <a href="{% url 'tag_detail' quote_tag.tag.id %}"><span class="badge badge-primary">{{ quote_tag.tag.name }}</span></a>
                    {% empty %}
                        <span class="text-muted">No tags available</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
