{% extends "quotes/base.html" %}

{% block title %}Quotes with tag {{ tag.name }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Quotes with tag: <span class="tag-detalle">{{ tag.name }}</span></h1>
    
    {% for quote_tag in quotes %}
        <div class="card my-3">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ quote_tag.quote.text }}</p>
                    <footer class="blockquote-footer"><a href="{% url 'author_detail' quote_tag.quote.author.id %}"><span class="autor">{{ quote_tag.quote.author.name }}</span></a></footer>
                </blockquote>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'quote_list' %}" class="btn btn-success ml-5">Volver</a>
</div>
{% endblock %}
